@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .navBarBrowser {
        display: none;
    }

    .buttonBrowser {
        display: inline-block;
    }
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .buttonBrowser {
        display: inline-block;
    }
}

    
@media screen and (max-width: 479px) {
    /* start of phone styles */
    .buttonBrowser {
        display: inline-block;
    }
}

/* start of desktop styles */

.name {
    color: white;
}

.wAndLH {
    color: black;
}

.title {
    background-image: url('../images/header.gif');
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0px;
    text-align: center; 
    width: 100%;
}

.titleText {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body {
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #54B0DE;
    overflow-x: hidden;
}

.content { 
    position: absolute;
    width: 100%;
    background-image: linear-gradient( #54B0DE , #092D74);
    border-style: solid;
    border-color: #333;
    border-top: 10px;
    border-bottom: 0px;
    padding-bottom: 40px;
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: gray;
    clear: both;
    overflow: auto;
}

/*! The Navbar for Browsers */

.navBarBrowser {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
    padding-left: 162.25px;
    padding-right: 162.25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

  .active a:hover {
        background-color: #0a8357; 
  }

/*! End of Navbar for Browsers */

/*? Navbar for Small Devices */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background: #111;
    border-radius: 5px;
    box-shadow: 0 0 15px  rgba(78,109,113,0.8);
}

.hamburger > div {
    position: absolute;
    height: 10px;
    background: #fff;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.first {
    width: 55px;
    top: 25px;
    left: 20px;
}

.second {
    width: 40px;
    top: 45px;
    left: 20px;
}

.third {
    width: 50px;
    top: 65px;
    left: 20px;
}

.hamburger:hover div {
    width: 60px;
    transition: width 0.3s ease;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: inherit;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #04AA6D;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .buttonBrowser {
    display: inline-block;
    padding-top: 340px;
    padding-right: 100%
    }
  
/*? End of Navbar for Small Devices */

  .textContent h3 {
    color: white;
    font-size: 25px;
    text-align: center;
  }

  .textContent p {
    color: white;
    font-size: 20px
  }

  .textContent div {
    padding: 10px;
  }

  .textContent div p {
    text-align: left;
    padding-left: 5px;
  }

  .textContent div i {
    color: white;
    font-size: 20px;
    text-align: left;
  }

  .testimonials div {
    border: #111;
    border-style: solid;
    border-radius: 10px;
  }

  .sponsorList div {
    border: #111;
    border-style: solid;
    border-radius: 10px;
  }

.sponsorList img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}