@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
    
    }

/* start of desktop styles */

.name {
    color: white;
}

.wAndLH {
    color: black;
}

.title {
    background-image: url("/images/header.png");
    background-color: white;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0px;
    text-align: center; 
}

.titleText {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-image: linear-gradient( #54B0DE , #092D74);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.content { 
    background-image: linear-gradient( #54B0DE , #092D74);
    float: right; 
    width: 60%; 
    margin-right: 20%; 
    margin-left: -80%;
    padding-bottom: 100%;
    
}

.right { 
    width: 20%; 
    float: right;
    padding-bottom: 100%;
    border: #333;
}

.left {
    width: 20%; 
    float: left; 
    padding-bottom: 100%; 
    border-top: #333;
}

.footer {
    background: gray;
    clear: both;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:auto;
  }
  
  li {
    float: left;
    padding-left: 78.15px;
    padding-right: 78.15px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

  .active a:hover {
        background-color: #0a8357; 
  }